
DB_HOST=192.168.0.206
DB_PORT=1433
DB_NAME=ONLINE_TENDERS
DB_USER=sa
DB_PASSWORD=barsa-2008

JWT_SECRET=mK9!vX2$nP7@qL4&wR6!yT8*uF3^jH5+sG1-eA0=cB9/dN2~iO6|kM4.zQ7_xW3

MAIL_HOST=mail.energo-pro.ge
MAIL_PORT=587
MAIL_USER=procurement-noreply
MAIL_PASSWORD=K$uA^]!!8q@P]4q

SMS_URL=http://SMS-PROXY.energo-pro.ge/mt/oneway?username=energopro&password=EPG343&client_id=343&service_id=1

NOTIFICATIONS_ENABLED=false